# Gitleaks configuration
# https://github.com/gitleaks/gitleaks

[extend]
useDefault = true

[allowlist]
description = "Allowlist for false positives"
paths = [
    '''.env\.example$''',
    '''\.md$''',
]
